
#contenedor {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 10px 30px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px 8px 8px 8px;
    padding: 15px;
    width: calc(100% - 40px); /* Ancho del 100% menos 20px de relleno a cada lado */
    max-width: 1200px; /* Máximo ancho de 1200px para evitar que se expanda indefinidamente */
    margin: 0 auto; /* Centra el contenedor en la página */
    box-sizing: border-box; /* Incluye el padding y el border en el ancho total */
    transition: box-shadow 0.3s ease; /* Agregamos una transición para suavizar el efecto */
    border: 10px #cbd7dd solid;
}
#contenedor:hover {
    box-shadow: 10px 30px 60px rgb(56, 69, 79); /* Cambiamos la sombra en el hover */
}
#contenedorVntn {
    background-color: #00000052;
    box-shadow: 10px 30px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 15px;
    width: calc(100% - 40px); /* Ancho del 100% menos 20px de relleno a cada lado */
    max-width: 1200px; /* Máximo ancho de 1200px para evitar que se expanda indefinidamente */
    margin: 0 auto; /* Centra el contenedor en la página */
    box-sizing: border-box; /* Incluye el padding y el border en el ancho total */
    transition: box-shadow 0.3s ease; /* Agregamos una transición para suavizar el efecto */
}
#contenedorVntn:hover {
    box-shadow: 10px 30px 60px rgb(56, 69, 79); /* Cambiamos la sombra en el hover */
}

legend {
    font-size: 1.2em;
    font-weight: bold;
    font-weight: bold;
    color: #333;
}

fieldset {
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 20px;
    padding: 10px;
}

/*.tableh{*/
/*    padding: 10px;*/
/*    margin-bottom: 20px;*/
/*    overflow: hidden;*/
/*    border: 3px solid #ccc;*/
/*    border-radius: 8px 8px 8px 8px;*/
/*    border-collapse: collapse;*/
/*    width: 100%;*/
/*    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
/*    background-color: #f2f2f2;*/
/*    transition: box-shadow 0.3s ease;*/
/*}*/

.tableh {
    padding: 10px;
    margin-bottom: 20px;
    overflow: hidden;
    border: 3px solid #cbd7dd;
    border-radius: 8px 8px 8px 8px;
    border-collapse: collapse;
    width: 100%;
    box-shadow: 22px 11px 2px 0px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    transition: box-shadow 0.3s ease;
}
.tableh:hover{

    box-shadow: 0 4px 8px rgba(0, 0, 0, 2);

    transition: box-shadow 0.5s ease;
}


.forzatooltip{
    /*position: absolute;*/
    top: 10% !important; /* Ajusta según tu necesidad vertical */
    left: 34%; /* Ajusta según tu necesidad horizontal */
    transform: translate(-1%, -50%);
    background-color: ccd7ddd6; /* Puedes ajustar el color según tus necesidades */
    /*color: white!important; !* Puedes ajustar el color del texto según tus necesidades *!*/
    padding: 5px; /* Puedes ajustar el relleno según tus necesidades */
    z-index: 1; /* Ajusta según tu necesidad de capas */
    border-radius: 8px 8px 8px 8px;
}





.border-styled {
    border-radius: 8px 8px 8px 8px;
    border: solid rgba(56, 69, 79, 0.8) 4px; /* Borde sólido con el color especificado */
    padding: 10px; /* Añadir espacio interno */
    display: inline-block; /* Para que ocupe solo el espacio necesario */
    color: #38454f; /* Color del texto */
    text-align: center; /* Alinear el texto al centro */
    font-weight: bold; /* Hacer el texto en negrita */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el elemento */
    transition: background-color 0.3s ease; /* Agregar una transición suave para el cambio de color de fondo */
}

.border-styled:hover {
    background-color: #bdd6e8; /* Cambiar el color de fondo al pasar el ratón */
    color: #fff; /* Cambiar el color del texto al pasar el ratón */
    border: solid #fff 4px; /* Borde sólido con el color especificado */
}


.maginAuto{
    margin-bottom: 50px;
}